<h2>Sound Surround</h2>
<p>Have you ever had moments when all you wanted was to escape from the hustle and bustle of the city. Now you have such an opportunity. </p>
<p>With this application, you can choose what kind of atmosphere you want to poguzitsya. Recommended for meditation.</p>
<h3>Usage</h3>
<p>On the initial old man you can choose the sound scheme that interests you. After loading, the volume control panel will appear. Dragging the sliders further from the center, you increase the volume, and vice versa.</p>
<h3>Credits</h3>
<p>Product powered by <a href="http://paul-voloschul.com">Paul Voloschuk</a></p>
<p>All sounds were received from open sources.</p>
<p>The project has no commercial benefit.</p>
<p>The sources can be looked at the <a href="https://github.com/paulvoloschuk/soundsurround" title="source code">github.</a></p>
