<!DOCTYPE html>
<!-- <html manifest="my.appcache"> -->
<html>
  <head>
      <link lang="en">
      <title>Sound Surround</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <script src="ld.json" type="application/ld+json"></script>
      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="./css/mobile.css" media="screen and (max-width: 960px)">
      <script src="./js/main.js"></script>

  </head>
  <body>
    <div id="system" class="layer">
    </div>
    <div id="background" class="layer">
      <div class="image" style="background-image: url(img/default.jpg)"></div>
    </div>
    <div id="controls" class="layer">
    </div>
    <div id="info" class="layer">
      <div class="background">
        <div class="tooltip">
          <div class="container">
            //= _help.html
          </div>
        </div>
        <div class="button">
          <span class="closed">?</span>
          <span class="opened">&#xf100;</span>
        </div>
      </div>
    </div>
    <div id="preloader" class="layer initiation">
      //= _preloader.html
    </div>
  </body>
</html>
