<!DOCTYPE html>
<!-- <html manifest="my.appcache"> -->
<html>
  <head>
      <link lang="en">
      <title>Sound Surround</title>
      <meta charset="utf-8">
      <meta name="robots" content="index, follow">
      <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="App for nature presense simulations. Choise from 5 sound schemes: rain, desert, sea, village, forest.">
      <meta name="keywords" content="nature, 3d sounds, meditations, rain, desert, sea, village, forest">
      <meta name="author" content="Paul_Voloschuk">

      <meta property="og:url" content="http://soundsurround.paul-voloschuk.com">
      <meta property="og:title" content="Sound Surround">
      <meta property="og:description" content="App for nature presense simulations. Choise from 5 sound schemes: rain, desert, sea, village, forest.">
      <meta property="og:type" content="application" />
      <meta property="og:image" content="/img/follow.jpg">

      <script src="ld.json" type="application/ld+json"></script>
      <link rel="stylesheet" href="./css/normalize.css">
      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="./css/mobile.css" media="screen and (max-width: 960px)">
      <script src="./js/main.js"></script>

  </head>
  <body>
    <div id="system" class="layer">
    </div>
    <div id="background" class="layer">
      <div class="image" style="background-image: url(img/default.jpg)"></div>
    </div>
    <div id="controls" class="layer">
    </div>
    <div id="info" class="layer">
      <div class="background">
        <div class="tooltip">
          <div class="container">
            //= _help.html
          </div>
        </div>
        <div class="button">
          <span class="closed">?</span>
          <span class="opened">&#xf100;</span>
        </div>
      </div>
    </div>
    <div id="preloader" class="layer initiation">
      //= _preloader.html
    </div>
  </body>
</html>
