@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
/* Common */
body{
  user-select: none;
}
*:focus{
  outline:none;
}
.layer{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}
.layer *{
  pointer-events: auto;
}

/* Menu */
.menu{
  transition: top .3s ease-in-out;
  .orbit{
    top: 50%;
    left: 50%;
    margin: -35vmin 0 0 -35vmin;
    border-radius: 50%;
    position: absolute;
    width: 70vmin;
    height: 70vmin;
    transition: transform .5s ease-in-out;
    pointer-events: none;
    .list{
      color: white;
      font-family: Flaticon;
      font-size: 5em;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 0;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      transform: translate(-50%, -50%);
      opacity: 0;
      will-change: transform, top;
      transition: border-color .2s ease, transform .4s ease-in-out, opacity .3s ease-in-out, top .2s ease-in-out;
      pointer-events: auto;
      &:hover, &.active{
        border-color: white;
      }
      &.enabled{
        opacity: 1;
      }
      &.out{
        pointer-events: none;
        opacity: 0;
        top: -15%;
      }
      &.focus{
        background-color: rgba(255,255,255,.2);
      }
      &.active{
        top: 50%;
        border-color: transparent;
        pointer-events: none;
        background: transparent !important;
      }
    }
  }
}

/* Background */
@keyframes imageappear {
  from{opacity: 0}
  to{opacity: 1}
}
.image{
  opacity: 1;
  width: 100%;
  top:0;
  left:0;
  position: absolute;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  animation: imageappear .3s ease-in-out 1 forwards;
}

/* Controls */
.controls{
  pointer-events: none;
    .panel{
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      .container{
        pointer-events: none;
        position: absolute;
        width: 20em;
        height: 20em;
        top: 48%;
        left: 50%;
        margin: -10em 0 0 -10em;
      }
      .orbit{
        pointer-events: none;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2.5em;
      }
      input{
        width: 5em;
        background: transparent;
        -webkit-appearance: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border-radius: 50%;
        }
        &::-ms-track {
          width: 100%;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }
      }
    }
    .gooze{
      background: rgba(0,0,0,.2);
      filter: blur(15px) contrast(40);
      &::before, *{
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1em solid white;
        border-radius: 50%;
        width: 10em;
        height: 10em;
        transform: translate(-50%, -50%);
      }
      input::-webkit-slider-thumb{
        width: 2.5em;
        height: 2.5em;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 20px white, 0 0 10px white;
      }
    }
    .actions{
      .orbit{
        // box-shadow: 0 0 2px 2px red;
        div{
          opacity: 0;
          pointer-events: none;
          position: absolute;
          width: 1.7em;
          height: 1.7em;
          line-height: 1.7em;
          box-shadow:  0 0 2px 2px black;
          border-radius: 50%;
          top: 0;
          filter: drop-shadow(0 0 10px white);
          transition: background-color .2s ease-in-out, opacity .3 ease-in-out;
          font-family: "Flaticon";
          font-size: 150%;
          text-align: center;
          span{
            pointer-events: none;
            transition: all .6s cubic-bezier(0.82, -0.04, 0.51, 2.63);
            position: absolute;
            opacity: 0;
            bottom: 40%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            border: 3px solid black;
            width: 3em;
            height: 3em;
            line-height: 3em;
            text-align: center;
            display: block;
            background: black;
            font-size: 70%;
            color: white;
            &::after{
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              width: 1em;
              height: 1em;
              background: black;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }
        input:active + div,
        input:hover + div,
        input.focus + div{
          background: gray;
        }
        input:active + div span,
        input:hover + div span,
        input.focus + div span{
          opacity: .7;
          bottom: calc(100% + 1em);
        }
      }
      input::-webkit-slider-thumb{
        width:5vmin;
        height:5vmin;
        background: transparent;
        cursor:pointer;
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }
    }
  .deactivate{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    transform: translate(-50%, -50%) rotate(180deg) scale(.4);
    border-radius: 50%;
    border: 4px solid white;
    opacity: 0;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-family: "Flaticon";
    color: white;
  }
}
.copyright{
  position:absolute;
  width:100vw;
  bottom: 0;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  color: white;
  opacity: .7;
  transform: translateY(100%);
  transition: transform .2s ease-in-out;
  a{
    color: lightsteelblue;
    text-decoration: none;
    border-bottom: 1px dashed lightsteelblue;
  }
}
.soundmode{
  .container{
    pointer-events: all;
  }
  .controls .orbit div{
    opacity: 1 !important;
  }
  .gooze *,
  .gooze::before,
  input::-webkit-slider-thumb{
    opacity: 1 !important;
  }
  .deactivate{
    opacity: 1;
    top: 10%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  .copyright{
    transform: translateY(0);
    transition-delay: .5s;
  }
}
